{% extends "base.html" %}

{% block title %} delete post {% endblock title %}


{% block content %}
<div class= 'max-w-fit p-4 mx-auto mt-10 shadow-2xl bg-slate-500 rounded-lg '>   
     <p class= "font-semibold text-2xl ">Are you sure that you want to delete post?</p>

    <form method="post">
        {% csrf_token %}
        <button class= "p-2 m-2 bg-sky-500 rounded-lg">Delete</button>
        <a class= "p-2 m-2 bg-sky-500 rounded-lg" href="{% url "starting-page" %}">Cancel</a>

    </form>
</div>

{% endblock content %}