[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/blog_aws/nvnblog
ExecStart=/home/ubuntu/projectenv/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 0.0.0.0:80 \
          nvnblog.wsgi:application
[Install]
WantedBy=multi-user.target
