{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static "/blog/favicon.ico" %}">
    <title>{% block title %}Nvn's Blog{% endblock title %}</title>
    {% tailwind_css %}
</head>
<body>
        <nav class=" border-gray-200 bg-slate-400">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a class="font-semibold text-xl" href={% url "starting-page" %}>Nvn's Blog</a>
            
                <button data-collapse-toggle="navbar-default" type="button" onclick="toggleMenu()" id="navbar-difficult"class="inline-flex items-center bg-slate-900 p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400  dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto bg-slate-400" id="navbar-default " >
                        <ul class="font-medium flex flex-col  p-4 md:p-0 mt-4 border bg-slate-400 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  " >
                            <li><a class="block py-2 px-3 bg-slate-400 rounded-sm  md:border-0 hover:text-slate-900 hover:scale-105 md:p-0 " href="{% url "stored-posts" %}">Stored Posts</a></li>
                            <li><a class="block py-2 px-3  bg-slate-400 rounded-sm  md:border-0 hover:text-slate-900 md:p-0 hover:scale-105" href="{% url "all-posts" %}">All Posts</a></li>
                            <li class="block py-2 px-3 rounded-sm  bg-slate-400   md:border-0 hover:text-slate-900 md:p-0 hover:scale-105">
                            {% if user.is_authenticated %}
                                <form action="/" method="post">
                                    {% csrf_token %}
                                    <button class="block py-2 px-3 bg-slate-400 rounded-sm md:border-0  md:p-0 dark:text-white hover:scale-105 hover:text-slate-900  dark:hover:text-white md:dark:hover:bg-transparent">logout</button>
                                </form>
                            {% else %}
                            </li>
                            <li><a class="block py-2 px-3 bg-slate-400 rounded-sm  md:border-0 hover:text-slate-900  md:p-0 dark:text-white hover:scale-105 dark:hover:text-white md:dark:hover:bg-transparent" href={% url "login" %}>Login</a></li>
                            <li><a class="block py-2 px-3 bg-slate-400 rounded-sm  md:border-0 hover:text-slate-900  md:p-0 dark:text-white hover:scale-105 dark:hover:text-white md:dark:hover:bg-transparent" href="{% url "register" %}">Register</a></li>
                            {% endif %}               
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
        
    {% block content %}    
    {% endblock content %}
    <script> 
        const menulist=document.getElementById("navbar-default")
        function toggleMenu(){
                menulist.classList.remove("hidden")
        }
    </script>
</body>
</html>